In [1]:
import pandas as pd
import os

In [2]:
data = pd.read_excel("dataset.xlsx", header=3)
data.head()

,Opinion,Labels,Collector,Value Here
0,"khu√¥n vi√™n r·ªông r√£i, khang trang, s·∫°ch s·∫Ω, m·ªü ...",Positive,Vinh,NaN
1,KiÃÅnh g∆∞Ãâi √¥ng hi√™Ã£u tr∆∞∆°Ãâng cuÃÄng caÃÅc baÃ£n s...,Negative,Vinh,NaN
2,M√¨nh c·∫ßn t√¨m ph√≤ng tr·ªç g·∫ßn tr∆∞·ªùng giao th√¥ng. ...,Neutral,Vinh,NaN
3,ƒê·∫°i h·ªçc Giao th√¥ng v·∫≠n t·∫£i l√† tuy·ªát ƒë·ªânh,Positive,Vinh,NaN
4,Nhi·ªÅu anh sinh vi√™n ƒë·∫πp trai :(((,Positive,Vinh,NaN

In [3]:
data = data.drop(columns=["Collector", "Value Here", "Labels"], axis=1)
data.head()

                                             Opinion
0  khu√¥n vi√™n r·ªông r√£i, khang trang, s·∫°ch s·∫Ω, m·ªü ...
1  KiÃÅnh g∆∞Ãâi √¥ng hi√™Ã£u tr∆∞∆°Ãâng cuÃÄng caÃÅc baÃ£n s...
2  M√¨nh c·∫ßn t√¨m ph√≤ng tr·ªç g·∫ßn tr∆∞·ªùng giao th√¥ng. ...
3           ƒê·∫°i h·ªçc Giao th√¥ng v·∫≠n t·∫£i l√† tuy·ªát ƒë·ªânh
4                  Nhi·ªÅu anh sinh vi√™n ƒë·∫πp trai :(((

In [4]:
random_test = data.sample(100, ignore_index=True)

random_test.head()

                                             Opinion
0                                Th·∫ßy vui t√≠nh l·∫Øm üôÇ
1    S·ªë 3 C·∫ßu Gi·∫•y th√¨ qu√° ƒë·∫≥ng c·∫•p ko c√≥ g√¨ ƒë·ªÉ ch√™.
2  1 k·ª∑ ni·ªám nh·ªõ m√£i. Nh·∫Øc cho th·∫±ng b·∫°n ch·ªânh b·∫Ø...
3  M√¨nh c≈©ng h·ªçc giao th√¥ng nh∆∞ng l√† giao th√¥ng 1...
4  T√∫ ch∆°i iÃÅt th√¥i, ch∆°i nhi√™ÃÄu hoÃâng h√™ÃÅt caÃâ ƒë√¢ÃÄu

In [5]:
random_test.to_excel("test_set_2.xlsx")

In [23]:
from random import randrange
from datetime import timedelta
from datetime import datetime

def random_date(start : str, end : str):
    """
    This function will return a random datetime between two datetime 
    objects.
    """

    FORMAT_DATE = r"%d/%m/%Y %H:%M:%S"
    delta = datetime.strptime(end, FORMAT_DATE) - \
    datetime.strptime(start, FORMAT_DATE)

    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = randrange(int_delta)
    return datetime.strptime(start, FORMAT_DATE) + timedelta(seconds=random_second)

In [24]:

random_date("01/05/2023 00:00:00", "30/05/2023 23:59:59")

TypeError: can only concatenate str (not "datetime.timedelta") to str